@{
    ViewBag.Title = "Index";
    var roleId = (int)Session["RoleId"];
    var account = new PMS.BusinessLogic.AccountBusiness(DbConfig.GetConnectionString());
}
@using PMS.DataAccess.Models;
<link rel="stylesheet" href="/Content/assets/css/chosen.css" />
<input type="hidden" id="vicariateId" />
<div class="page-header">
    <h1>Danh sách giáo xứ</h1>
</div>
<div class="page-header">
    <div class="row">
        <div class="col-xs-3" @if (!account.IsDioceseRole(roleId)) { Html.Raw(" hidden='hidden'"); }>
            Giáo phận
            <select id="cbbDiocese" class="form-control" style="width: 250px;">
                <option value="0">Tất cả</option>
                @foreach (var item in ((List<Diocese>)ViewBag.Dioceses))
                {
                    <option value="@item.Id" @if (item.Id.ToString() == Session["DioceseId"].ToString()) { @Html.Raw("selected");}>@item.Name</option>
                }
            </select>
        </div>
        <div class="col-xs-3">
            Giáo hạt
            <select class="form-control" id="cbbVicariate" style="width: 250px;">
                <option value="0">Tất cả</option>
                @foreach (var item in ((List<Vicariate>)ViewBag.Vicariates))
                {
                    <option value="@item.Id" dioceseId="@Html.Raw(item.DioceseId)" @if ((int)Session["DioceseId"] != item.DioceseId) { @Html.Raw(" style='display:none;'"); }>@item.Name</option>
                }
            </select>
        </div>
    </div>

</div>
<div class="row">
    <div class="space-4"></div>
    <div class="col-xs-12">
        <div class="col-sm-12">
            <button id="btnCreateParish" class="btn btn-success" data-toggle="modal">
                <i class="ace-icon fa fa-plus"></i> Thêm giáo xứ
            </button>
        </div>
    </div>
</div>


<div class="col-xs-12">
    <div class="space-8"></div>
    <table id="parishTable" class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>
                    <label class="position-relative">
                        <input type="checkbox" class="ace" />
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>Tên giáo xứ</th>
                <th>Địa chỉ</th>
                <th>Chánh xứ</th>
                <th>Website</th>
                <th>Email</th>
                <th>Điện thoại</th>
                <th>Thao tác</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
</div>
<!--Parish Modal-->
<div id="createParishModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <input type="hidden" id="parishId" data-key="Id"/>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="widget-box transparent">
                <div class="widget-header center">
         
                        <h4 class="widget-title lighter" id="parishModalTitle"></h4>
                        <div class="widget-toolbar no-border">
                            <a href="#" onclick="$('#btnCloseParishModal').click()">
                                <i class="ace-icon fa fa-times"></i>
                            </a>
                        </div>

                </div>
                <div class="widget-body">
                    <div class="space-10"></div>
                    <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
                        <div class="row" @if (!account.IsDioceseRole(roleId)) { Html.Raw(" hidden='hidden'"); }>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="cbbDioceseModal">Giáo phận&nbsp;(<span style="color: red">*</span>)</label>
                                <div class="col-sm-9">
                                    <select id="cbbDioceseModal" class="form-control" style="width: 250px;" data-key="DioceseId">
                                        <option value="0">Tất cả</option>
                                        @foreach (var item in ((List<Diocese>)ViewBag.Dioceses))
                                        {
                                            <option value="@item.Id" @if (item.Id.ToString() == Session["DioceseId"].ToString()) { @Html.Raw("selected") ; }>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="space-10"></div>
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="modalVicariate" data-key="VicariateId">Giáo hạt&nbsp;(<span style="color: red">*</span>)</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="modalVicariate" data-key="VicariateId">
                                        <option value="0"></option>
                                        @foreach (var item in ((List<Vicariate>)ViewBag.Vicariates))
                                        {
                                            <option value="@item.Id" dioceseId="@Html.Raw(item.DioceseId)" @if ((int)Session["DioceseId"] != item.DioceseId) { @Html.Raw(" style='display:none;'") ; }>@item.Name</option>
                                        }
                                    </select>
                                    <label class="text-danger" id="lbVicariateErrorModal" hidden=""></label>
                                </div>
                            </div>

                        </div>
                        <div class="space-10"></div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Tên giáo xứ&nbsp;(<span style="color: red">*</span>)</label>
                                <div class="col-sm-9">
                                    <input type="text" id="parishNameModal" value="" class="form-control normal-name" data-key="Name">
                                    <label class="text-danger" id="parishNameValidate" hidden=""></label>
                                </div>
                            </div>
                        </div>
                        <div class="space-10"></div>
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Địa chỉ</label>
                                <div class="col-sm-9">
                                    <input type="text" id="parishAddressModal" value="" class="form-control" data-key="Address">
                                </div>
                            </div>

                        </div>
                        <div class="space-10"></div>
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Phường/Xã</label>
                                <div class="col-sm-9">
                                    <input type="text" id="parishWardModal" value="" class="form-control normal-name" data-key="Ward">
                                </div>
                            </div>

                        </div>
                        <div class="space-10"></div>
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Quận/Huyện</label>
                                <div class="col-sm-9">
                                    <input type="text" id="parishDistrictModal" value="" class="form-control normal-name" data-key="District">
                                </div>
                            </div>

                        </div>
                        <div class="space-10"></div>
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Tỉnh/Thành phố</label>
                                <div class="col-sm-9">
                                    <input type="text" id="parishProvinceModal" value="" class="form-control normal-name" data-key="Province">
                                </div>
                            </div>

                        </div>
                        <div class="space-10"></div>
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Chánh xứ</label>
                                <div class="col-sm-9">
                                    <input type="hidden" id="priestId" data-key="PriestId"/>
                                    <input type="text" id="parishPriestModal" value="" class="form-control priest normal-name" data-key="Priest">
                                </div>
                            </div>

                        </div>
                        <div class="space-10"></div>
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Website</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-globe"></i>
                                        </span>
                                        <input type="text" id="parishWebsiteModal" value="" class="form-control website" data-key="Website">
                                    </div>
                                    <label class="text-danger" id="parishWebsiteValidate" hidden=""></label>
                                </div>
                            </div>

                        </div>
                        <div class="space-10"></div>
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Điện Thoại</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-phone"></i>
                                        </span>
                                        <input type="text" id="parishPhoneModal" value="" class="form-control input-mask-phone" data-key="Phone">
                                    </div>
                                    <label class="text-danger" id="parishPhoneValidate" hidden=""></label>
                                </div>
                            </div>

                        </div>
                        <div class="space-10"></div>
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Email</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-envelope"></i>
                                        </span>
                                        <input type="text" id="parishEmailModal" value="" class="form-control email" data-key="Email">
                                    </div>
                                    <label class="text-danger" id="parishEmailValidate" hidden=""></label>
                                </div>
                            </div>

                        </div>
                        <div class="space-10"></div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Bổn mạng</label>
                                <div class="col-sm-9">
                                    <input type="text" id="parishPatronModal" value="" class="form-control normal-name" data-key="Patron"/>
                                </div>
                            </div>
                        </div>
                        <div class="space-10"></div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Ngày kính Bổn mạng</label>
                                <div class="col-sm-9">
                                    <input type="text" id="parishPatronDateModal" value="" class="form-control" data-key="PatronDate"/>
                                </div>
                            </div>
                        </div>
                        <div class="space-10"></div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Ngày chầu lượt</label>
                                <div class="col-sm-9">
                                    <input type="text" id="parishChauLuotModal" value="" class="form-control" data-key="ChauLuot"/>
                                </div>
                            </div>
                        </div>
                        <div class="space-10"></div>
                        <div class="row" id="parishModalImage1">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Ảnh hiện tại</label>
                                <div class="col-sm-9">
                                    <div class="widget-box">
                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <div class="form-group">
                                                    <div class="space-10"></div>
                                                    <div class="col-xs-12">
                                                        <img class="img-responsive" id="parishImageModal" src="" />
                                                    </div>
                                                </div>
                                                <label>
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Ảnh mới</label>
                                <div class="col-sm-9">
                                    <div class="widget-box">
                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <div class="form-group">
                                                    <div class="space-10"></div>
                                                    <div class="col-xs-12">
                                                        @using (Html.BeginForm("UploadParishImage", "Parish", FormMethod.Post,
new
{
    enctype = "multipart/form-data",
    id = "ImgForm",
    name = "ImgForm",
    target = "UploadTarget"
}))
                                                        {
                                                            <input multiple="" name="inputFile" type="file" id="inputFile" />
                                                        }
                                                        <iframe id="UploadTarget" name="UploadTarget" style="position: absolute; left: -999em; top: -999em;"></iframe>
                                                        <label class="text-danger" id="parishImageValidate" hidden=""></label>
                                                    </div>
                                                </div>
                                                <label>
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--end row-->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-12">
                                <div class="align-right">
                                    <div class="space-6"></div>
                                    <button id="btnCreateParishModal" class="btn btn-primary" data-toggle="modal" onclick="UploadImage()">
                                        <i class="ace-icon fa fa-save"></i> Lưu
                                    </button>
                                    <button id="btnUpdateParishModal" class="btn btn-primary" data-toggle="modal" onclick="UploadImage()">
                                        <i class="ace-icon fa fa-save"></i> Cập Nhật
                                    </button>
                                    <button id="btnCloseParishModal" class="btn btn-grey" data-toggle="modal">
                                        <i class="ace-icon fa fa-times"></i> Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-6"></div>
                </div>
             </div>
        </div>
    </div>
</div>
<!--End Parish Modal-->
<script>
    function UploadImage() {
        $("#ImgForm").submit();
        if (!checkValidate()) {
            return false;
        }
    }

    function UploadImage_Complete() {
        var id = $("#parishId").val();
        var url = $("#UploadTarget").contents().find('body').html();
        if (url.substring(0, 4) == "<pre") {
            url = "";
        }
        if (id == 0) {
            AddParish(url);
        } else if (id > 0) {
            UpdateParish(url);
        }

    }
    $("#UploadTarget").on("load", function () {
        UploadImage_Complete();
    });
    InitDatatable();
    function InitDatatable() {

        //$("#parishTable").dataTable({
        //    "bRetrieve": true,
        //    "bServerSide": true,
        //    "bScrollCollapse": true,
        //    "sAjaxSource": "/Parish/LoadParishDatatables",
        //    //"bProcessing": true,
        //    "fnServerParams": function (aoData) {
        //        aoData.push({ "name": "vicariateId", "value": $("#cbbVicariate").val() });
        //    },
        //    "oLanguage": {
        //        "sSearch": "Tên giáo xứ",
        //        "sZeroRecords": "Không có dữ liệu phù hợp",
        //        "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
        //        "sEmptyTable": "Không có dữ liệu",
        //        "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
        //        "sLengthMenu": "Hiển thị _MENU_ dòng",
        //        "sProcessing": "Đang xử lý...",
        //        "sInfoEmpty": "",
        //        "oPaginate": {
        //            "sPrevious": "Trước",
        //            "sNext": "Sau"
        //        }
        //    },
        //    "aoColumnDefs": [
        //        {
        //            "aTargets": [0, 1],
        //            "bVisible": false,
        //        },
        //        {
        //            "aTargets": [1],
        //            "render": function (data, type, full, meta) {
        //                var content = '<label class="position-relative">' +
        //                    '<input type="checkbox" class="ace" value="' + data + '"/>' +
        //                    '<span class="lbl"></span> </label>';
        //                return content;
        //            },
        //            "bSortable": false
        //        },
        //        {
        //            "aTargets": [8],
        //            "render": function (data, type, full, meta) {
        //                var content = '<button class="btn btn-minier btn-primary" onclick="LoadDataModal(' + data + ')"><i class="ace-icon fa fa-pencil"></i>Sửa</button>' +
        //                    '<button class="btn btn-minier btn-danger" onclick="DeleteConfirm(' + data + ')">' + '<i class="ace-icon fa fa-trash-o"></i>Xóa</button>';
        //                return content;
        //            },
        //            "bSortable": false
        //        }
        //    ],
        //    "bAutoWidth": false,
        //});

        $('#parishTable').DataTable({
            "processing": true,
            "serverSide": true,
            "bRetrieve": true,
            "bScrollCollapse": true,
            "bAutoWidth": false,
            "ajax": {
                "url": "/Parish/LoadParishDatatables",
                "data": function (d) {
                    d.vicariateId = $('#cbbVicariate').val();
                    d.dioceseId = $('#cbbDiocese').val();
                    d.columns = null;
                }
            },
            "language": {
                "sSearch": "Tên giáo xứ",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "sInfoEmpty": "",
                "oPaginate": {
                    "sPrevious": "Trước",
                    "sNext": "Sau"
                }
            },
            "columns": [
                { "data": "Id", "visible": false },
                { "data": "Id", "render": function (data, type, full, meta) {
                            var content = '<label class="position-relative">' +
                                '<input type="checkbox" class="ace" value="' + data.Id + '"/>' +
                                '<span class="lbl"></span> </label>';
                            return content;
                      },
                },
                { "data": "Name" },
                { "data": "Address" },
                { "data": "Priest" },
                { "data": "Website" },
                { "data": "Email" },
                { "data": "Phone" },
                {
                    "data": null, "searchable": false, "render": function (data, type, full, meta) {
                            var content = '<button class="btn btn-minier btn-primary" onclick="LoadDataModal(' + data.Id + ')"><i class="ace-icon fa fa-pencil"></i>Sửa</button>' +
                                '<button class="btn btn-minier btn-danger" onclick="DeleteConfirm(' + data.Id + ')">' + '<i class="ace-icon fa fa-trash-o"></i>Xóa</button>';
                            return content;
                        },
                }
            ]
        });

    }

    //$(document).on('click', 'th input:checkbox', function () {
    //    var that = this;
    //    $(this).closest('table').find('tr > td:first-child input:checkbox')
    //        .each(function () {
    //            this.checked = that.checked;
    //            $(this).closest('tr').toggleClass('selected');
    //        });
    //});
    jQuery(function ($) {
        $("#parishPhoneModal").mask("9999 999 999?9");
        $('#inputFile').ace_file_input({
            style: 'well',
            btn_choose: 'Thả hình vào đây hoặc click vào để chọn',
            btn_change: null,
            no_icon: 'ace-icon fa fa-picture-o',
            droppable: true,
            thumbnail: 'fit' //small | large
            //,icon_remove:null//set null, to hide remove/reset button
            /**,before_change:function(files, dropped) {
                //Check an example below
                //or examples/file-upload.html
                return true;
            }*/
            /**,before_remove : function() {
                return true;
            }*/,
            allowExt: ['jpg', 'jpeg', 'png'],
            denyExt: 'exe|php|dll|txt',
            preview_error: function (filename, error_code) {
                //name of the file that failed
                //error_code values
                //1 = 'FILE_LOAD_FAILED',
                //2 = 'IMAGE_LOAD_FAILED',
                //3 = 'THUMBNAIL_FAILED'
                //alert(error_code);
            },
            before_change: function (files, dropped) {
                //files is a "File" object array in modern browsers
                //files is a "string" (file name) array in older browsers

                //dropped=true if files are drag & dropped

                var valid_files = [];

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];

                    if (typeof file === 'string') {

                        valid_files.push(file);
                        $("#parishImageValidate").hide();
                        break;
                    } else if ('File' in window && file instanceof window.File) {

                        valid_files.push(file);
                        $("#parishImageValidate").hide();
                        break;

                    }
                }

                return valid_files;

            }

        }).on('file.error.ace', function (event, info) {
            $("#parishImageValidate").html("Chỉ hỗ trợ với những ảnh có định dạng jpg, jpeg, png");
            $("#parishImageValidate").show();
        });
    });

    $("#btnCreateParish").click(function () {
        $("#createParishModal").on('show.bs.modal', function () {
            $("#cbbDioceseModal").val($("#cbbDiocese").val());
            $("#modalVicariate").val($("#cbbVicariate").val());
        });
        $("#createParishModal").modal('show');
        $("#btnCreateParishModal").show();
        $("#btnUpdateParishModal").hide();
        $("#parishModalImage1").hide();
        $("#parishModalTitle").html("Thêm mới giáo xứ");
        $("#parishId").val(0);

    });

    $("#createParishModal").on('shown.bs.modal', function () {
        $("#parishNameModal").focus();
    });

    $("#btnCloseParishModal").click(function () {
        $("#createParishModal").modal('hide');
        ClearParish();
    });

    function editParish() {
        $("#createParishModal").modal('show');
        $("#btnUpdateParishModal").show();
        $("#btnCreateParishModal").hide();
    }

    $("#cbbDiocese").change(function () {
        $("#cbbVicariate option[value!='0']").hide();
        $("#cbbVicariate option[dioceseId='" + $("#cbbDiocese option:selected").val() + "']").show();

        $("#cbbVicariate").val("0");
    });
    $("#cbbDioceseModal").change(function () {
        $("#modalVicariate option[value!='0']").hide();
        $("#modalVicariate option[dioceseId='" + $("#cbbDioceseModal option:selected").val() + "']").show();

        $("#modalVicariate").val("0");
    });

    $("#cbbVicariate").change(function () {
        updateTableContent("parishTable");
        //$("#parishTable").dataTable()._fnAjaxUpdate();
        $("#modalVicariate").val($("#cbbVicariate").val());
    });

    function refeshTable() {
        updateTableContent("parishTable");
        //$("#parishTable").dataTable()._fnAjaxUpdate();
    }

    function checkValidate() {
        var isError = false;

        var vicariate = $("#modalVicariate").val();
        if (vicariate == 0) {
            $("#lbVicariateErrorModal").html("Vui lòng chọn giáo hạt cho giáo xứ!");
            $("#lbVicariateErrorModal").show();
            isError = true;
        } else {
            $("#lbVicariateErrorModal").html("");
            $("#lbVicariateErrorModal").hide();
        }

        var name = $("#parishNameModal").val();
        if (!name) {
            $("#parishNameValidate").html("Tên giáo xứ không thể để trống. Vui lòng nhập tên giáo xứ!");
            $("#parishNameValidate").show();
            isError = true;
        } else {
            $("#parishNameValidate").html("");
            $("#parishNameValidate").hide();
        }

        if (!validateUnique()) {
            isError = true;
        }

        var website = $("#parishWebsiteModal").val();
        if (website) {
            if (!validateUrl(website)) {
                $("#parishWebsiteValidate").html("Website không đúng định dạng (Ví dụ: www.pms.com)");
                $("#parishWebsiteValidate").show();
                isError = true;
            } else {
                $("#parishWebsiteValidate").html("");
                $("#parishWebsiteValidate").hide();
            }
        } 

        var email = $("#parishEmailModal").val();
        if (email) {
            if (!validateEmail(email)) {
                $("#parishEmailValidate").html("Email không đúng định dạng (Ví dụ: pms@@gmail.com)");
                $("#parishEmailValidate").show();
                isError = true;
            } else {
                $("#parishEmailValidate").html("");
                $("#parishEmailValidate").hide();
                
            }
        } 

        if (isError) {
            return false;
        }

        return true;

    }

    function validateUnique() {


        var parishId = $("#parishId").val();
        var name = $("#parishNameModal").val();
        var result = true;

        $.ajax({
            url: "/Parish/CheckUniqueParish",
            type: "POST",
            data: {
                parishId: parishId,
                name: name
            },
            async: false,
            success: function (data) {
                if (data.result <= 0) {
                    $("#parishNameValidate").html("Tên giáo xứ đã tồn tại. Vui lòng nhập tên khác!");
                    $("#parishNameValidate").show();
                    result = false;
                } else {
                    if (!name) {
                        return true;
                    }
                    $("#parishNameValidate").html("");
                    $("#parishNameValidate").hide();
                    result = true;
                }

            }
        });

        return result;
    }

    function ClearParish() {
        /*$("#parishNameModal").val("");
        $("#parishAddressModal").val("");
        $("#parishWardModal").val("");
        $("#parishDistrictModal").val("");
        $("#parishProvinceModal").val("");
        $("#parishPriestModal").val("");
        $("#parishWebsiteModal").val("");
        $("#parishEmailModal").val("");
        $("#parishPhoneModal").val("");
        $("#parishImageModal").val("");
        $("#parishPatronModal").val("");
        $("#parishPatronDateModal").val("");
        $("#parishChauLuotModal").val("");
        $("#parishNameValidate").html("");
        $("#parishNameValidate").hide();
        $("#parishWebsiteValidate").html("");
        $("#parishWebsiteValidate").hide();
        $("#parishEmailValidate").html("");
        $("#parishEmailValidate").hide();
        $("#parishImageValidate").html("");
        $("#parishImageValidate").hide();
        $("#lbVicariateErrorModal").html("");
        $("#lbVicariateErrorModal").hide();
        */
        $("#createParishModal input, #createParishModal select").each(function () {
            var key = $(this).attr("data-key");
            if (key) {
                $(this).val("");
                var key2 = key.replace("Modal", "Validate");
                if ($("#" + key2).length !== 0) {
                    $("#" + key2).html("");
                    $("#" + key2).hide();
                }
            }
        });
        $("#parishImageValidate").hide();
    }

    function AddParish(url) {
        if (!checkValidate()) {
            return;
        }
        var data = {};
        $("#createParishModal input, #createParishModal select").each(function () {
            if ($(this).attr("data-key")) data[$(this).attr("data-key")] = $(this).val();
        });
        //var name = $("#parishNameModal").val();
        //var address = $("#parishAddressModal").val();
        //var ward = $("#parishWardModal").val();
        //var district = $("#parishDistrictModal").val();
        //var province = $("#parishProvinceModal").val();
        //var priest = $("#parishPriestModal").val();
        //var website = $("#parishWebsiteModal").val();
        //var phone = $("#parishPhoneModal").val();
        //var email = $("#parishEmailModal").val();
        //var vicariateId = $("#modalVicariate").val();
        //var patron = $("#parishPatronModal").val();
        //var patronDate = $("#parishPatronDateModal").val();
        //var chauLuot = $("#parishChauLuotModal").val();
        //var imageUrl = url;
        startLoading();
        $.ajax({
            url: "/Parish/AddParish",
            type: "POST",
            //data: {
            //    Name: name,
            //    Address: address,
            //    Ward: ward,
            //    District: district,
            //    Province: province,
            //    Priest: priest,
            //    Website: website,
            //    Phone: phone,
            //    Email: email,
            //    VicariateId: vicariateId,
            //    Patron: patron,
            //    PatronDate: patronDate,
            //    ChauLuot: chauLuot
            //},
            data: data,
            success: function (data) {
                if (data <= 0) {
                    showMessage("Thêm giáo xứ thất bại", 0);
                } else {
                    showMessage("Thêm giáo xứ thành công", 1);
                    $("#createParishModal").modal('hide');
                    refeshTable();
                    ClearParish();
                }
            },
        });
    }

    function UpdateParish(url) {
        if (!checkValidate()) {
            return;
        }
        var data = {};
        $("#createParishModal input, #createParishModal select").each(function () {
            if ($(this).attr("data-key")) data[$(this).attr("data-key")] = $(this).val();
        });
        data["imageUrl"] = url;
        //var id = $("#parishId").val();
        //var name = $("#parishNameModal").val();
        //var address = $("#parishAddressModal").val();
        //var ward = $("#parishWardModal").val();
        //var district = $("#parishDistrictModal").val();
        //var province = $("#parishProvinceModal").val();
        //var priest = $("#parishPriestModal").val();
        //var website = $("#parishWebsiteModal").val();
        //var phone = $("#parishPhoneModal").val();
        //var email = $("#parishEmailModal").val();
        //var vicariateId = $("#modalVicariate").val();
        //var patron = $("#parishPatronModal").val();
        //var patronDate = $("#parishPatronDateModal").val();
        //var chauLuot = $("#parishChauLuotModal").val();
        //var imageUrl = url;
        startLoading();
        $.ajax({
            url: "/Parish/UpdateParish",
            type: "POST",
            //data: {
            //    Id: id,
            //    Name: name,
            //    Address: address,
            //    Ward: ward,
            //    District: district,
            //    Province: province,
            //    Priest: priest,
            //    PriestId: priestId,
            //    Website: website,
            //    Phone: phone,
            //    Email: email,
            //    VicariateId: vicariateId,
            //    ImageUrl: imageUrl,
            //    Patron: patron,
            //    PatronDate: patronDate,
            //    ChauLuot: chauLuot
            //},
            data: data,
            success: function (data) {

                if (data.result <= 0) {
                    showMessage("Cập nhật thất bại", 0);
                } else {
                    showMessage("Cập nhật thông tin giáo xứ thành công", 1);
                    $("#createParishModal").modal('hide');
                    refeshTable();
                    ClearParish();
                }
            },
        });
    }

    function LoadDataModal(id) {
        $("#parishId").val(id);
        $.ajax({
            url: "/Parish/LoadParishById",
            type: "POST",
            data: { id: id },
            success: function (data) {
                var item = data.result;
                $(item).each(function (k, v) {
                    for (var k1 in v) {
                        if ($("#createParishModal [data-key='" + k1 + "']").length !== 0) {
                            $("#createParishModal [data-key='" + k1 + "']").val(v[k1]);
                        }
                    }
                });
                //$("#parishNameModal").val(item.Name);
                //$("#parishAddressModal").val(item.Address);
                //$("#parishWardModal").val(item.Ward);
                //$("#parishDistrictModal").val(item.District);
                //$("#parishProvinceModal").val(item.Province);
                //$("#parishPriestModal").val(item.Priest);
                //$("#parishWebsiteModal").val(item.Website);
                //$("#parishPhoneModal").val(item.Phone);
                //$("#parishEmailModal").val(item.Email);
                //$("#parishPatronModal").val(item.Patron);
                //$("#parishPatronDateModal").val(item.PatronDate);
                //$("#parishChauLuotModal").val(item.ChauLuot);
                //$("#modalVicariate").val(item.VicariateId);
                $("#parishImageModal").attr('src', item.ImageUrl);;

                if (!item.ImageUrl) {
                    $("#parishModalImage1").hide();
                } else {
                    $("#parishModalImage1").show();
                }
                $("#parishModalTitle").html("Chỉnh sửa giáo xứ");

                $("#createParishModal").modal('show');
                $("#btnUpdateParishModal").show();
                $("#btnCreateParishModal").hide();


            },
        });
    }
    function DeleteConfirm(id) {
        bootbox.dialog({
            closeButton: false,
            message: "Bạn có chắc muốn xóa giáo xứ này không?",
            title: "Xác nhận",
            buttons: {
                danger: {
                    label: " Xóa",
                    className: "ace-icon fa fa-trash-o btn-danger",
                    callback: function () {
                        DeleteParish(id);
                        refeshTable();
                    }
                },
                main: {
                    label: " Đóng",
                    className: "ace-icon fa fa-times btn-default",
                    callback: function () {
                    }
                }
            }
        });
    }
    function DeleteParish(id) {
        startLoading();
        $.ajax({
            url: "/Parish/DeleteParish",
            type: "POST",
            data: { id: id },
            success: function (data) {

                if (data.result <= 0) {
                    showMessage("Xóa thất bại. Vui lòng xóa hết thông tin liên quan trong giáo xứ trước", 0);
                } else {
                    showMessage("Xóa giáo xứ thành công", 1);
                    refeshTable();
                }

            },
        });
    }
    $("#createParishModal").on('hidden.bs.modal', function () {
        $('#inputFile').ace_file_input('reset_input');
    });

    //---------------------
    $(".priest").each(function () {
        initPriestAutocomplete(this, false);
    });
    var priestId;
    function initPriestAutocomplete(element, isForce) {

        var input = $(element).autocomplete({
            autoFocus: !isForce,
            source: function (request, response) {
                $.ajax({
                    url: "/Priest/LoadPriestsByName",
                    dataType: "json",
                    data: {
                        dioceseId: @Session["DioceseId"],
                        name: request.term
                    },
                    success: function (data) {
                        //response(data.result);
                        //data = JSON.parse(data.result);
                        response($.map(data.result, function (item) {
                            return {
                                label: item.ChristianName + " " + item.Name,
                                value: item.Id
                            }
                        }));
                    }
                });
            },
            focus: function (event, ui) {
                //if (isForce) {
                //    $(element).val(ui.item.label);
                //    return false;
                //}
                //$(element).val(ui.item.label);
                //priestId = ui.item.value;
            },
            select: function (event, ui) {
                //if (isForce) {                    
                //    $(this).data("uiItem", ui.item.label);
                //    $(element).val(ui.item.label);
                //    return false;
                //}
                $(this).data("uiItem", ui.item.label);
                $(element).val(ui.item.label);
                priestId = ui.item.value;
                $("#priestId").val(priestId);
                return false;
            },
            minLength: 1
        });

        if (isForce) {
            input.bind("blur", function () {

                var current = $(this).val();
                if (current) {
                    $(this).val($(this).data("uiItem"));
                }

            }).data("uiItem", $(element).val());
        }

    }
    //----------
</script>