@using PMS.DataAccess.Enumerations
@using PMS.DataAccess.Utilities
@model List<PMS.DataAccess.ViewModels.PrintParishManagerViewModel>

@{
    ViewBag.Title = "In giấy mời";
    Layout = null;

    int iCount = 0;
}
<script src="/Content/jquery.min.js"></script>

<style>
    p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 16px;
        font-family: UTM Times;
        line-height: 28px;
    }
</style>

<div id="txtPrintArea" style="width: 100%;">
    @foreach (var item in Model)
    {
        if (iCount > 0)
        {
            //sang trang
            <div style="page-break-after: always; page-break-inside: avoid;"></div>
        }
        iCount++;
        <div style="width: 702.2756px;margin-left: 50px;">
            <div style="clear: both; display: flex;">
                <div style="float: left; width: 40%;">
                    <p style="text-align: center;">
                        <span>
                            <b>TÒA GIÁM MỤC XUÂN LỘC</b>
                        </span>
                    </p>

                    <p style="text-align: center;">
                        <span>
                            Y 70 Hùng Vương – Xuân Bình
                        </span>
                    </p>

                    <p style="text-align: center;">
                        <span>
                            Long Khánh – Đồng Nai
                        </span>
                    </p>

                    <p style="text-align: center;">
                        <span>
                            ☩ ☩ ☩
                        </span>
                    </p>
                </div>
            </div>
            <p style="text-align: right;">
                <span>
                    <i>@Html.Raw(string.Format("Xuân Lộc, ngày {0} tháng {1} năm {2}", DateTime.Today.Day, DateTime.Today.Month, DateTime.Today.Year))</i>
                </span>
            </p>
            <br />
            <br />
            <br />
            <p style="text-align: center; font-size: 20px;">
                <span>
                    <b>@Html.Raw(string.Format("Kính gởi: Cha {0} {1}", item.ChristianName, item.Priest))</b>
                </span>                
            </p>
            <p style="text-align: center; font-size: 20px; ">
                <span>
                    <b>@Html.Raw(string.Format("Giáo xứ {0}", item.ParishCurrent))</b>
                </span>
            </p>
            <br />
            <br />            
            <br />
            <p style="text-align: left; margin-left: 60px;">
                <span>
                    Cha thân mến,
                </span>                
            </p>
            <p style="text-align: left; margin-left: 60px;">
                <span>
                    @Html.Raw(string.Format("Sau khi suy nghĩ, cầu nguyện và bàn hỏi, nay tôi muốn thuyên chuyển Cha đi làm {0} giáo xứ {1}, giáo hạt {2} trong thời gian này.", 
                                            item.PositionName, item.ParishCurrent, item.VicariateName))
                </span>
            </p>
            <p style="text-align: left; margin-left: 60px;">
                <span>
                    @Html.Raw(string.Format(@"Nếu Cha thấy có gì quá bất tiện, xin vui lòng cho tôi biết, muộn nhất là ngày {0}.
                                            Nếu Cha đồng ý, xin Cha vui lòng chuẩn bị 04 bản Sơ yếu lý lịch có dán hình, xác nhận và đóng dấu giáp lai của công an phường/ xã.",
                                            DateTime.Today.AddDays(4).ToString("dd-MM-yyyy")))
                </span>
            </p>
            <br />
            <p style="text-align: right; margin-right: 50px;">
                <span>
                    Thân mến chào Cha.
                </span>
            </p>                 
            <br />
            <br />
            <br />
            <br />
            <p style="text-align: right; margin-right: 50px;">
                <span>
                    <b>@item.NguoiQuyetDinh</b>
                </span>
            </p>
            <br />
            <p style="text-align: right; margin-right: 50px;">
                <span>
                    <b>Giám mục Giáo phận Xuân Lộc</b>
                </span>
            </p>
        </div>
    }
</div>

<script>
    window.print();
</script>